*{
    margin: 0;
    padding : 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000;
    color: #fff;

}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    display: inline-block;
    background: #db0011;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left:10px;
    cursor: pointer;
}

.lang-btn{
    display: inline-block;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.lang-btn img{
    width: 10px;
    margin-left: 7px;
}
.header-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    margin-top: 40px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    background-origin: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding :15px 30px;
}

.container2{

height: 60vh;
padding: 30px 30px;
display: flex;
justify-content: space-between;
}
.boxL{
    padding: 100px 50px;
    justify-content: center;
    align-items: center;
}
.boxL p h4{
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
    font-weight: 400;
}
.poto img{
   position: static;
    width: 500px;
    height: 300px;
    opacity: 0.5;
}
.poto  :hover{
    opacity: 2;
   
}
.container3{
margin-top: 1px;
height: 60vh;
padding: 30px 30px;
display: flex;
justify-content: space-between;
}
.boxR{
    padding: 100px 50px;
  
    justify-content: center;
    align-items: center;
}
.boxR p h4{
    font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
    font-weight: 400;
}
.poto2 img{
   position: static;
    width: 500px;
    height: 300px;
    opacity: 0.5;
}
.poto2  :hover{
    opacity: 2;
   
}
.container4{
    margin-top: 1px;
    height: 60vh;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    }
    .boxL2{
        padding: 100px 50px;
        justify-content: center;
        align-items: center;
    }
    .boxL2 p h4{
        font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
        font-weight: 400;
    }
    .poto3 img{
       position: static;
        width: 500px;
        height: 300px;
        opacity: 0.5;
    }
    .poto3  :hover{
        opacity: 2;
       
    }
    .container5{
        margin-top: 1px;
        height: 60vh;
        padding: 30px 30px;
        display: flex;
        justify-content: space-between;
        }
        .boxR2{
            padding: 100px 50px;
          
            justify-content: center;
            align-items: center;
        }
        .boxR2 p h4{
            font-family:Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif ;
            font-weight: 400;
        }
        .poto4 img{
           position: static;
            width: 500px;
            height: 300px;
            opacity: 0.5;
        }
        .poto4  :hover{
            opacity: 2;
           
        }